# Attributes of Winning Teams
## Exploring the Data of the EU Soccer League

The goal of this analysis will be to see if there are common attributes amoung the top performing leagues in the European Soccer League. Data is from a Kaggle post,[European Soccer Database](https://www.kaggle.com/hugomathien/soccer) by Hugomathien.

The process of discovery will be the following
1. Create SQL Queries to gather/organize original data
    * Which teams the players belong too (most recent year)
    * Join the player attributes to those teams (most recent performance scores)
    * Which teams placed top on the league (most recent year)
2. Read the SQL Queries into Pandas for further manipulation
3. Provide exploratory visualization showing the combined attributes of each top-performing team
4. Make a judgement if there are common attributes that matter most to success

## Setting Up Environment

First I want to make sure I have my enviroments set up. I have a work station with three monitors but I am not always there so I want to make sure I can do analysis on the fly on my Chromebook. To do this I have set up a cloud instance with [Amazon SageMaker](https://docs.aws.amazon.com/sagemaker/latest/dg/whatis.html). I started the project on my workstation and then createe my [GitHub Repo](https://github.com/GarrettMarkScott/European_Soccer_Exploring). In the process of doing this I quickly learned that the 300mb database (SQLite) was too large for a simple git push command. This forced me to create a .gitignore file that I placed the database in. I then was able to clone the git repo into my Jupyter Cloud Instance and simply upload the SQLite database into the same directory in my cloud instance. Now I can push/pull from both machines without large file transfers.

I used the below code to check to make sure my environment was working.

In [82]:
#These are the general items for simple loading

import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import itertools
import pprint

pp = pprint.PrettyPrinter(indent=4)

conn = sqlite3.connect('soccer_data.sqlite')
tables = pd.read_sql('SELECT * FROM sqlite_master WHERE type="table";', conn)
countries = pd.read_sql('SELECT * FROM Country;', conn)
players = pd.read_sql('SELECT player_api_id, player_name FROM Player;', conn)
player_att = pd.read_sql('SELECT * FROM Player_Attributes;',conn)
league_teams = pd.read_sql('SELECT team_long_name FROM Team', conn)
player_att.columns.tolist()

['id',
 'player_fifa_api_id',
 'player_api_id',
 'date',
 'overall_rating',
 'potential',
 'preferred_foot',
 'attacking_work_rate',
 'defensive_work_rate',
 'crossing',
 'finishing',
 'heading_accuracy',
 'short_passing',
 'volleys',
 'dribbling',
 'curve',
 'free_kick_accuracy',
 'long_passing',
 'ball_control',
 'acceleration',
 'sprint_speed',
 'agility',
 'reactions',
 'balance',
 'shot_power',
 'jumping',
 'stamina',
 'strength',
 'long_shots',
 'aggression',
 'interceptions',
 'positioning',
 'vision',
 'penalties',
 'marking',
 'standing_tackle',
 'sliding_tackle',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_positioning',
 'gk_reflexes']

## Matching Players to Teams

Next was time to create the SQL queries to organize the raw data a little bit so it was easier to work with. I was able to borrow my girlfriends mac and load the SQLite datebase into [DB Browser for SQLite] for quick SQL Queries (since chromebook can't run programs).

I spent quite a bit of time trying to figure out how to merge the players to teams. As seen in the screenshot below there was not a common key between player and team. My assumption is that this is due to players switching various teams over their career.

![Table Screenshot](https://i.imgur.com/KCpqgS5.jpg)

I checked the *player_fifa_api_id* but that had 11,060 DISTINCT rows. I was able to create the query below that used the Match table data to see which players were associated with each match. Due to there being substitutions throughout the match, it is assumed that these 11 players are the starting roster for each team during the 2007-2008 season (May-August). 

This turned out to be a pretty big challege because I did not relize DB Browser for SQLite seemingly does not have a formal Date type but rather stores date types as a *Timestring* format. If anyone has any information regarding this and how to deal with it in the best/cleanest way I have made a [Stack Overflow Post](https://stackoverflow.com/questions/56202599/converting-timestrings-to-datetime-db-browser)

In [3]:
#Matches from most recent season and the starting players (in ID format)
matches = pd.read_sql_query('''SELECT t.team_long_name, m.home_player_1, m.home_player_2, m.home_player_3,m.home_player_4, m.home_player_5,m.home_player_6, m.home_player_7, m.home_player_8, m.home_player_9, m.home_player_10, m.home_player_11, m.date 
                                 FROM Team t 
                                 JOIN Match m ON t.team_api_id = m.home_team_api_id 
                                WHERE DATE(m.date) BETWEEN "2015-05-01" and "2016-05-25" 
                                ORDER BY t.team_long_name;''', conn)
matches

,team_long_name,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,date
0,1. FC Köln,212815.0,36395.0,36934.0,264221.0,307210.0,36086.0,167589.0,127945.0,459493.0,166449.0,196366.0,2015-05-10 00:00:00
1,1. FC Köln,212815.0,36395.0,36934.0,264221.0,22824.0,450976.0,36086.0,127945.0,459493.0,196366.0,166449.0,2015-05-23 00:00:00
2,1. FC Köln,212815.0,127945.0,231753.0,303800.0,307210.0,166449.0,36086.0,167589.0,459493.0,177941.0,71605.0,2015-10-31 00:00:00
3,1. FC Köln,212815.0,127945.0,36934.0,303800.0,307210.0,166449.0,36086.0,167589.0,260470.0,177941.0,71605.0,2015-11-21 00:00:00
4,1. FC Köln,212815.0,127945.0,36934.0,303800.0,307210.0,238438.0,36086.0,167589.0,260470.0,177941.0,71605.0,2015-12-05 00:00:00
5,1. FC Köln,212815.0,212377.0,231753.0,36934.0,303800.0,307210.0,450976.0,36086.0,22824.0,127945.0,238438.0,2015-12-19 00:00:00
6,1. FC Köln,212815.0,212377.0,36934.0,303800.0,307210.0,167589.0,36086.0,127945.0,166449.0,260470.0,71605.0,2016-01-23 00:00:00
7,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,167589.0,36086.0,260470.0,238438.0,71605.0,2015-08-22 00:00:00
8,1. FC Köln,212815.0,36934.0,28435.0,303800.0,127945.0,450976.0,307210.0,259439.0,238438.0,260470.0,71605.0,2016-02-13 00:00:00
9,1. FC Köln,212815.0,36934.0,28435.0,303800.0,127945.0,36086.0,307210.0,259439.0,450976.0,71605.0,260470.0,2016-02-26 00:00:00
10,1. FC Köln,212815.0,231753.0,36934.0,303800.0,307210.0,36086.0,127945.0,450976.0,260470.0,259439.0,71605.0,2016-03-05 00:00:00
11,1. FC Köln,212815.0,231753.0,36934.0,28435.0,303800.0,307210.0,127945.0,36086.0,450976.0,260470.0,71605.0,2016-03-19 00:00:00
12,1. FC Köln,212815.0,127945.0,36934.0,303800.0,307210.0,36086.0,167589.0,238438.0,260470.0,450976.0,71605.0,2016-04-10 00:00:00
13,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,36086.0,167589.0,260470.0,71605.0,238438.0,2015-08-29 00:00:00
14,1. FC Köln,212815.0,231753.0,36934.0,28435.0,259439.0,36086.0,307210.0,127945.0,166449.0,450976.0,71605.0,2016-04-23 00:00:00
15,1. FC Köln,212815.0,231753.0,36934.0,28435.0,303800.0,307210.0,127945.0,450976.0,260470.0,238438.0,71605.0,2016-05-07 00:00:00
16,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,36086.0,167589.0,260470.0,71605.0,166449.0,2015-09-19 00:00:00
17,1. FC Köln,212815.0,127945.0,231753.0,303800.0,307210.0,238438.0,36086.0,450976.0,260470.0,166449.0,71605.0,2015-09-25 00:00:00
18,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,450976.0,260470.0,36086.0,166449.0,71605.0,2015-10-18 00:00:00
19,1. FSV Mainz 05,287894.0,94915.0,36000.0,193901.0,171472.0,237542.0,59595.0,287231.0,22313.0,201888.0,20694.0,2015-05-03 00:00:00
20,1. FSV Mainz 05,287894.0,36000.0,36806.0,171472.0,130667.0,130118.0,201888.0,237542.0,59595.0,278863.0,20694.0,2015-05-16 00:00:00
21,1. FSV Mainz 05,287894.0,94915.0,36000.0,193901.0,171472.0,59595.0,95228.0,178804.0,278863.0,287231.0,276760.0,2015-08-15 00:00:00
22,1. FSV Mainz 05,287894.0,147726.0,36000.0,193901.0,49885.0,59595.0,162679.0,180126.0,278863.0,287231.0,459499.0,2015-10-24 00:00:00
23,1. FSV Mainz 05,287894.0,94915.0,147726.0,36000.0,171472.0,49885.0,162679.0,287231.0,278863.0,130118.0,459499.0,2015-11-07 00:00:00
24,1. FSV Mainz 05,287894.0,94915.0,193901.0,459000.0,171472.0,59595.0,162679.0,287231.0,278863.0,130118.0,459499.0,2015-11-28 00:00:00
25,1. FSV Mainz 05,287894.0,94915.0,36000.0,193901.0,171472.0,59595.0,162679.0,130118.0,278863.0,287231.0,459499.0,2015-12-11 00:00:00
26,1. FSV Mainz 05,287894.0,94915.0,147726.0,193901.0,426873.0,59595.0,162679.0,178804.0,278863.0,287231.0,459499.0,2016-01-29 00:00:00
27,1. FSV Mainz 05,287894.0,191080.0,147726.0,193901.0,426873.0,59595.0,162679.0,178804.0,278863.0,287231.0,291425.0,2016-02-12 00:00:00
28,1. FSV Mainz 05,287894.0,191080.0,147726.0,36000.0,426873.0,59595.0,95228.0,130118.0,278863.0,287231.0,291425.0,2016-02-28 00:00:00
29,1. FSV Mainz 05,287894.0,191080.0,147726.0,459000.0,426873.0,59595.0,95228.0,130118.0,278863.0,287231.0,291425.0,2016-03-06 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3611,Zagłębie Lubin,206641.0,208315.0,118822.0,72479.0,163618.0,116874.0,69485.0,545056.0,68802.0,543298.0,25255.0,2015-10-24 00:00:00
3612,Zagłębie Lubin,206641.0,69018.0,72479.0,118822.0,163618.0,545056.0,68762.0,116874.0,239253.0,68802.0,25255.0,2015-11-06 00:00:00
3613,Zagłębie Lubin,232143.0,69018.0,118822.0,545060.0,163618.0,68802.0,69485.0,545056.0,116874.0,543298.0,25255.0,2015-12-01 00:00:00
3614,Zagłębie Lubin,232143.0,69018.0,72479.0,545060.0,163618.0,116874.0,68762.0,239253.0,197560.0,543298.0,NaN,2015-12-04 00:00:00
3615,Zagłębie Lubin,206641.0,69018.0,72479.0,68762.0,163618.0,69485.0,467316.0,197560.0,69818.0,68802.0,25255.0,2015-07-25 00:00:00
3616,Zagłębie Lubin,232143.0,208315.0,118822.0,72479.0,163618.0,197560.0,68762.0,545056.0,68802.0,25255.0,543298.0,2015-12-18 00:00:00
3617,Zagłębie Lubin,232143.0,69018.0,208315.0,118822.0,163618.0,545056.0,197560.0,287341.0,239253.0,68802.0,543298.0,2016-02-21 00:00:00
3618,Zagłębie Lubin,232143.0,69018.0,72479.0,118822.0,163618.0,545056.0,69485.0,116874.0,287341.0,68802.0,543298.0,2016-03-01 00:00:00
3619,Zagłębie Lubin,232143.0,69018.0,118822.0,72479.0,163618.0,545056.0,69485.0,68802.0,287341.0,197560.0,543298.0,2016-03-13 00:00:00
3620,Zagłębie Lubin,232143.0,69018.0,118822.0,72479.0,163618.0,69485.0,68762.0,116874.0,287341.0,68802.0,25255.0,2016-04-03 00:00:00
3621,Zagłębie Lubin,206641.0,69018.0,72479.0,545060.0,163618.0,239253.0,68762.0,116874.0,69818.0,68802.0,25255.0,2015-08-14 00:00:00
3622,Zagłębie Lubin,206641.0,69018.0,72479.0,118822.0,163618.0,68762.0,545056.0,116874.0,239253.0,68802.0,25255.0,2015-08-29 00:00:00
3623,Zagłębie Lubin,206641.0,69018.0,72479.0,118822.0,163618.0,68762.0,545056.0,116874.0,239253.0,68802.0,543298.0,2015-09-18 00:00:00
3624,Évian Thonon Gaillard FC,181619.0,179522.0,46708.0,74169.0,610533.0,185000.0,26333.0,400962.0,317062.0,187669.0,210466.0,2015-05-09 00:00:00
3625,Évian Thonon Gaillard FC,181619.0,179891.0,71603.0,46708.0,35121.0,185000.0,317062.0,288783.0,92263.0,210466.0,400962.0,2015-05-16 00:00:00
3626,Śląsk Wrocław,43313.0,522276.0,13437.0,13554.0,77778.0,43317.0,179818.0,172896.0,22831.0,69428.0,69256.0,2015-07-19 00:00:00
3627,Śląsk Wrocław,43313.0,522276.0,13437.0,172896.0,13554.0,181227.0,22831.0,179818.0,309890.0,69256.0,93453.0,2015-09-25 00:00:00
3628,Śląsk Wrocław,43313.0,522276.0,13437.0,13554.0,77778.0,172896.0,43317.0,179818.0,309890.0,69256.0,93453.0,2015-10-16 00:00:00
3629,Śląsk Wrocław,43313.0,522276.0,13437.0,13554.0,77778.0,179818.0,43317.0,172896.0,22831.0,69256.0,72458.0,2015-10-31 00:00:00
3630,Śląsk Wrocław,43313.0,13437.0,172896.0,13554.0,77778.0,181227.0,22831.0,522276.0,179818.0,429914.0,69256.0,2015-11-28 00:00:00
3631,Śląsk Wrocław,463957.0,522276.0,13437.0,43317.0,77778.0,69428.0,172896.0,181227.0,429914.0,179818.0,93453.0,2015-12-11 00:00:00
3632,Śląsk Wrocław,43313.0,522276.0,13437.0,436553.0,77778.0,172896.0,181227.0,429914.0,196288.0,167491.0,93453.0,2016-02-12 00:00:00
3633,Śląsk Wrocław,43313.0,69428.0,13437.0,436553.0,77778.0,181227.0,22831.0,176704.0,196288.0,167491.0,93453.0,2016-02-26 00:00:00
3634,Śląsk Wrocław,43313.0,43317.0,13554.0,NaN,436553.0,181227.0,172896.0,176704.0,196288.0,69256.0,93453.0,2016-03-05 00:00:00
3635,Śląsk Wrocław,618737.0,13554.0,13437.0,436553.0,522276.0,176704.0,181227.0,172896.0,22831.0,69256.0,643982.0,2016-03-19 00:00:00
3636,Śląsk Wrocław,43313.0,522276.0,13437.0,43317.0,77778.0,172896.0,181227.0,179818.0,72458.0,176704.0,93453.0,2015-08-02 00:00:00
3637,Śląsk Wrocław,618737.0,13554.0,13437.0,436553.0,77778.0,176704.0,172896.0,181227.0,429914.0,196288.0,643982.0,2016-04-09 00:00:00
3638,Śląsk Wrocław,43313.0,522276.0,13437.0,43317.0,77778.0,179818.0,181227.0,172896.0,69256.0,176704.0,93453.0,2015-08-09 00:00:00
3639,Śląsk Wrocław,43313.0,13554.0,13437.0,43317.0,77778.0,172896.0,181227.0,179818.0,309890.0,176704.0,93453.0,2015-08-22 00:00:00
3640,Śląsk Wrocław,43313.0,429914.0,13437.0,43317.0,13554.0,172896.0,309890.0,179818.0,22831.0,72458.0,69256.0,2015-09-12 00:00:00

The next step of my process is to create a compound dictionary that has the players as values of the teams and attributues as values of the players. Following that we can begin investigating their attributes!

## Connecting Player ID to Player Name
To keep our code modular as possible the function below can be used to return a player's name based on ID input.

In [83]:
players

       player_api_id             player_name
0             505942      Aaron Appindangoye
1             155782         Aaron Cresswell
2             162549             Aaron Doran
3              30572           Aaron Galindo
4              23780            Aaron Hughes
5              27316              Aaron Hunt
6             564793              Aaron Kuhl
7              30895            Aaron Lennon
8             528212            Aaron Lennox
9             101042           Aaron Meijers
10             23889           Aaron Mokoena
11            231592              Aaron Mooy
12            163222          Aaron Muirhead
13             40719            Aaron Niguez
14             75489            Aaron Ramsey
15            597948           Aaron Splaine
16            161644   Aaron Taylor-Sinclair
17             23499         Aaron Wilbraham
18            120919       Aatif Chahechouhe
19             46447               Abasse Ba
20            167027       Abdelaziz Barrada
21            245653   Abdelfettah Boukhriss
22            128456  Abdelhamid El Kaoutari
23             42664      Abdelkader Ghezzal
24            425950         Abdellah Zoubir
25             38423      Abdelmajid Oulmers
26              3264      Abdelmalek Cherrad
27            467485  Abdelmalek El Hasnaoui
28            306735     Abdelouahed Chakhsi
29             41659        Abderrazak Jadid
...              ...                     ...
11030         244155                 Zezinho
11031          19696               Zhi Zheng
11032         290868             Zhi-Gin Lam
11033         169594             Zie Diabate
11034         244953            Ziggy Gordon
11035         200607         Ziguy Badibanga
11036         642618        Zinedine Machach
11037         277772              Zinho Gano
11038         246332             Ziri Hammar
11039         532766                    Zizo
11040          27305       Zlatan Bajramovic
11041          35724      Zlatan Ibrahimovic
11042          12574      Zlatan Ljubijankic
11043          39494            Zlatko Dedic
11044          17233           Zlatko Janjic
11045          42860        Zlatko Junuzovic
11046          37128           Zola Matumona
11047          24737             Zoltan Gera
11048         107281          Zoltan Stieber
11049          39801          Zoltan Szelesi
11050         491794         Zoran Josipovic
11051          56929          Zoran Rendulic
11052          99031             Zoran Tosic
11053         192132      Zouhaier Dhaouadhi
11054         282473          Zouhair Feddal
11055          26357          Zoumana Camara
11056         111182            Zsolt Laczko
11057          36491               Zsolt Low
11058          35506     Zurab Khizanishvili
11059          39902      Zvjezdan Misimovic

[11060 rows x 2 columns]

In [84]:
#Reusable function to translate api key to player name

def player_id_to_name(id): 
    return(players[players['player_api_id'] == id].iloc[0,1])

player_id_to_name(212815)

'Timo Horn'

## Creating Compound Dictionary of Teams, Players, & Attributes

Build a for loop that builds Teams Dictionary with team as the key and players as the values

This is our goal:
```
teams = {"team 1": {"Player 1": {"Dribbling": 4,
                                 "Attack": 5,
                                 "Speed": 9},
                    "Player 2": {"Dribbling": 6,
                                 "Attack": 10,
                                 "Speed": 3},
                    "Player 3": {"Dribbling": 2,
                                 "Attack": 5,
                                 "Speed": 8},
                    },
         "team 2": {"Player 1": {"Dribbling": 9,
                                 "Attack": 6,
                                 "Speed": 2},
                    "Player 2": {"Dribbling": 10,
                                 "Attack": 2,
                                 "Speed": 8},
                    "Player 3": {"Dribbling": 5,
                                 "Attack": 5,
                                 "Speed": 5},
                    }
            }
```

### Creating dictionary of teams and starting players from most recent season

#### Step 1: Create a list of teams

In [85]:
#Create a list of the teams to iterate
team_names = league_teams.values.tolist()
merged_team_names = list(itertools.chain(*team_names)) #Flatten list of lists
team_names = merged_team_names
pprint.pprint(team_names)

['KRC Genk',
 'Beerschot AC',
 'SV Zulte-Waregem',
 'Sporting Lokeren',
 'KSV Cercle Brugge',
 'RSC Anderlecht',
 'KAA Gent',
 'RAEC Mons',
 'FCV Dender EH',
 'Standard de Liège',
 'KV Mechelen',
 'Club Brugge KV',
 'KSV Roeselare',
 'KV Kortrijk',
 'Tubize',
 'Royal Excel Mouscron',
 'KVC Westerlo',
 'Sporting Charleroi',
 'Sint-Truidense VV',
 'Lierse SK',
 'KAS Eupen',
 'Oud-Heverlee Leuven',
 'Waasland-Beveren',
 'KV Oostende',
 'Royal Excel Mouscron',
 'Manchester United',
 'Newcastle United',
 'Arsenal',
 'West Bromwich Albion',
 'Sunderland',
 'Liverpool',
 'West Ham United',
 'Wigan Athletic',
 'Aston Villa',
 'Manchester City',
 'Everton',
 'Blackburn Rovers',
 'Middlesbrough',
 'Tottenham Hotspur',
 'Bolton Wanderers',
 'Stoke City',
 'Hull City',
 'Fulham',
 'Chelsea',
 'Portsmouth',
 'Birmingham City',
 'Wolverhampton Wanderers',
 'Burnley',
 'Blackpool',
 'Swansea City',
 'Queens Park Rangers',
 'Norwich City',
 'Southampton',
 'Reading',
 'Crystal Palace',
 'Cardiff City',
 'Leicester City',
 'Bournemouth',
 'Watford',
 'AJ Auxerre',
 'FC Nantes',
 'Girondins de Bordeaux',
 'SM Caen',
 'Le Havre AC',
 'OGC Nice',
 'Le Mans FC',
 'FC Lorient',
 'Olympique Lyonnais',
 'Toulouse FC',
 'AS Monaco',
 'Paris Saint-Germain',
 'AS Nancy-Lorraine',
 'LOSC Lille',
 'Stade Rennais FC',
 'Olympique de Marseille',
 'FC Sochaux-Montbéliard',
 'Grenoble Foot 38',
 'Valenciennes FC',
 'AS Saint-Étienne',
 'RC Lens',
 'Montpellier Hérault SC',
 "US Boulogne Cote D'Opale",
 'AC Arles-Avignon',
 'Stade Brestois 29',
 'AC Ajaccio',
 'Évian Thonon Gaillard FC',
 'Dijon FCO',
 'Stade de Reims',
 'SC Bastia',
 'ES Troyes AC',
 'En Avant de Guingamp',
 'FC Metz',
 'Angers SCO',
 'GFC Ajaccio',
 'FC Bayern Munich',
 'Hamburger SV',
 'Bayer 04 Leverkusen',
 'Borussia Dortmund',
 'FC Schalke 04',
 'Hannover 96',
 'VfL Wolfsburg',
 '1. FC Köln',
 'Eintracht Frankfurt',
 'Hertha BSC Berlin',
 'DSC Arminia Bielefeld',
 'SV Werder Bremen',
 'FC Energie Cottbus',
 'TSG 1899 Hoffenheim',
 'Borussia Mönchengladbach',
 'VfB Stuttgart',
 'Karlsruher SC',
 'VfL Bochum',
 'SC Freiburg',
 '1. FC Nürnberg',
 '1. FSV Mainz 05',
 '1. FC Kaiserslautern',
 'FC St. Pauli',
 'FC Augsburg',
 'Fortuna Düsseldorf',
 'SpVgg Greuther Fürth',
 'Eintracht Braunschweig',
 'SC Paderborn 07',
 'FC Ingolstadt 04',
 'SV Darmstadt 98',
 'Atalanta',
 'Siena',
 'Cagliari',
 'Lazio',
 'Catania',
 'Genoa',
 'Chievo Verona',
 'Reggio Calabria',
 'Fiorentina',
 'Juventus',
 'Milan',
 'Bologna',
 'Roma',
 'Napoli',
 'Sampdoria',
 'Inter',
 'Torino',
 'Lecce',
 'Udinese',
 'Palermo',
 'Bari',
 'Livorno',
 'Parma',
 'Cesena',
 'Brescia',
 'Novara',
 'Pescara',
 'Hellas Verona',
 'Sassuolo',
 'Empoli',
 'Frosinone',
 'Carpi',
 'Vitesse',
 'FC Groningen',
 'Roda JC Kerkrade',
 'FC Twente',
 'Willem II',
 'Ajax',
 'N.E.C.',
 'De Graafschap',
 'FC Utrecht',
 'PSV',
 'Heracles Almelo',
 'Feyenoord',
 'Sparta Rotterdam',
 'ADO Den Haag',
 'FC Volendam',
 'SC Heerenveen',
 'AZ',
 'NAC Breda',
 'RKC Waalwijk',
 'VVV-Venlo',
 'Excelsior',
 'PEC Zwolle',
 'SC Cambuur',
 'Go Ahead Eagles',
 'FC Dordrecht',
 'Wisła Kraków',
 'Polonia Bytom',
 'Polonia Bytom',
 'Ruch Chorzów',
 'Legia Warszawa',
 'P. Warszawa',
 'Śląsk Wrocław',
 'Lechia Gdańsk',
 'Widzew Łódź',
 'Odra Wodzisław',
 'Lech Poznań',
 'GKS Bełchatów',
 'Arka Gdynia',
 'Jagiellonia Białystok',
 'Piast Gliwice',
 'Cracovia',
 'Korona Kielce',
 'Zagłębie Lubin',
 'Widzew Łódź',
 'Podbeskidzie Bielsko-Biała',
 'Pogoń Szczecin',
 'Zawisza Bydgoszcz',
 'Górnik Łęczna',
 'Termalica Bruk-Bet Nieciecza',
 'FC Porto',
 'CF Os Belenenses',
 'Sporting CP',
 'Trofense',
 'Vitória Guimarães',
 'Vitória Setúbal',
 'FC Paços de Ferreira',
 'SC Braga',
 'Amadora',
 'Académica de Coimbra',
 'Rio Ave FC',
 'SL Benfica',
 'Leixões SC',
 'CD Nacional',
 'Naval 1° de Maio',
 'CS Marítimo',
 'União de Leiria, SAD',
 'S.C. Olhanense',
 'Portimonense',
 'SC Beira Mar',
 'Feirense',
 'Gil Vicente FC',
 'Moreirense FC',
 'Estoril Praia',
 'FC Arouca',
 'FC Penafiel',
 'Boavista FC',
 'Uniao da Madeira',
 'Tondela',
 'Falkirk',
 'Rangers',
 'Heart of Midlothian',
 'Motherwell',
 'Kilmarnock',
 'Hibernian',
 'Aberdeen',
 'Inverness Caledonian Thistle',
 'Celtic',
 'St. Mirren',
 'Hamilton Academical FC',
 'Dundee United',
 'St. Johnstone FC',
 'Dunfermline Athletic',
 'Dundee FC',
 'Ross County FC',
 'Partick Thistle F.C.',
 'Valencia CF',
 'RCD Mallorca',
 'CA Osasuna',
 'Villarreal CF',
 'RC Deportivo de La Coruña',
 'Real Madrid CF',
 'CD Numancia',
 'FC Barcelona',
 'Racing Santander',
 'Sevilla FC',
 'Real Sporting de Gijón',
 'Getafe CF',
 'Real Betis Balompié',
 'RC Recreativo',
 'RCD Espanyol',
 'Real Valladolid',
 'Athletic Club de Bilbao',
 'UD Almería',
 'Atlético Madrid',
 'Málaga CF',
 'Xerez Club Deportivo',
 'Real Zaragoza',
 'CD Tenerife',
 'Hércules Club de Fútbol',
 'Levante UD',
 'Real Sociedad',
 'Granada CF',
 'Rayo Vallecano',
 'RC Celta de Vigo',
 'Elche CF',
 'SD Eibar',
 'Córdoba CF',
 'UD Las Palmas',
 'Grasshopper Club Zürich',
 'AC Bellinzona',
 'BSC Young Boys',
 'FC Basel',
 'FC Aarau',
 'FC Sion',
 'FC Luzern',
 'FC Vaduz',
 'Neuchâtel Xamax',
 'FC Zürich',
 'FC St. Gallen',
 'FC Thun',
 'Servette FC',
 'FC Lausanne-Sports',
 'Lugano']

#### Step 2: Create a function to get each starting player of a team
*Note the original SQL query already constrained the data to most recent season*

In [86]:
def get_team_players(x):
    #Gather all the players that have started in the last season for a particular team. 
    all_team_players = matches[matches['team_long_name'] == x].iloc[:,2:12].values.astype(int).tolist()
    merged_team_players = list(itertools.chain(*all_team_players)) #flattens list of lists
    all_team_players = [] #resets variable for append function below

    #this for loops takes all the players api numbers, converts them to their names, and stores them in variable
    for i in merged_team_players:  
        name = player_id_to_name(i)
        if name not in all_team_players:
            all_team_players.append(name)
        else:
            pass
    return(all_team_players)

print(get_team_players('1. FC Köln'))

['Miso Brecko', 'Dominic Maroh', 'Kevin Wimmer', 'Jonas Hector', 'Matthias Lehmann', 'Kevin Vogt', 'Marcel Risse', 'Kazuki Nagasawa', 'Yuya Osako', 'Anthony Ujah', 'Dusan Svento', 'Yannick Gerhardt', 'Frederik Soerensen', 'Dominique Heintz', 'Philipp Hosiner', 'Anthony Modeste', 'Leonardo Bittencourt', 'Simon Zoller', 'Pawel Olkowski', 'Mergim Mavraj', 'Filip Mladenovic']

#### Step 3: Create a dictionary using players as the values of each team

In [87]:
teams = {}
teams['blue'] = {'stevie': {"Dribbling": 4,
                            "Attack": 5,
                            "Speed": 9},
                 'robbie': {"Dribbling": 6,
                            "Attack": 10,
                            "Speed": 3},
                 'joey':   {"Dribbling": 2,
                            "Attack": 5,
                            "Speed": 8}
                }

print('Original Goal')                  
pp.pprint(teams)
print()

Original Goal
{   'blue': {   'joey': {'Attack': 5, 'Dribbling': 2, 'Speed': 8},
                'robbie': {'Attack': 10, 'Dribbling': 6, 'Speed': 3},
                'stevie': {'Attack': 5, 'Dribbling': 4, 'Speed': 9}}}

In [88]:
print(type(team_names))

<class 'list'>

In [90]:
teams = {}
print(team_names[0])
for i in range(len(team_names)):
    teams[team_names[i]] = '2' ###How to put list of players here 

print(teams)

KRC Genk
{'KRC Genk': '2', 'Beerschot AC': '2', 'SV Zulte-Waregem': '2', 'Sporting Lokeren': '2', 'KSV Cercle Brugge': '2', 'RSC Anderlecht': '2', 'KAA Gent': '2', 'RAEC Mons': '2', 'FCV Dender EH': '2', 'Standard de Liège': '2', 'KV Mechelen': '2', 'Club Brugge KV': '2', 'KSV Roeselare': '2', 'KV Kortrijk': '2', 'Tubize': '2', 'Royal Excel Mouscron': '2', 'KVC Westerlo': '2', 'Sporting Charleroi': '2', 'Sint-Truidense VV': '2', 'Lierse SK': '2', 'KAS Eupen': '2', 'Oud-Heverlee Leuven': '2', 'Waasland-Beveren': '2', 'KV Oostende': '2', 'Manchester United': '2', 'Newcastle United': '2', 'Arsenal': '2', 'West Bromwich Albion': '2', 'Sunderland': '2', 'Liverpool': '2', 'West Ham United': '2', 'Wigan Athletic': '2', 'Aston Villa': '2', 'Manchester City': '2', 'Everton': '2', 'Blackburn Rovers': '2', 'Middlesbrough': '2', 'Tottenham Hotspur': '2', 'Bolton Wanderers': '2', 'Stoke City': '2', 'Hull City': '2', 'Fulham': '2', 'Chelsea': '2', 'Portsmouth': '2', 'Birmingham City': '2', 'Wolverhampton Wanderers': '2', 'Burnley': '2', 'Blackpool': '2', 'Swansea City': '2', 'Queens Park Rangers': '2', 'Norwich City': '2', 'Southampton': '2', 'Reading': '2', 'Crystal Palace': '2', 'Cardiff City': '2', 'Leicester City': '2', 'Bournemouth': '2', 'Watford': '2', 'AJ Auxerre': '2', 'FC Nantes': '2', 'Girondins de Bordeaux': '2', 'SM Caen': '2', 'Le Havre AC': '2', 'OGC Nice': '2', 'Le Mans FC': '2', 'FC Lorient': '2', 'Olympique Lyonnais': '2', 'Toulouse FC': '2', 'AS Monaco': '2', 'Paris Saint-Germain': '2', 'AS Nancy-Lorraine': '2', 'LOSC Lille': '2', 'Stade Rennais FC': '2', 'Olympique de Marseille': '2', 'FC Sochaux-Montbéliard': '2', 'Grenoble Foot 38': '2', 'Valenciennes FC': '2', 'AS Saint-Étienne': '2', 'RC Lens': '2', 'Montpellier Hérault SC': '2', "US Boulogne Cote D'Opale": '2', 'AC Arles-Avignon': '2', 'Stade Brestois 29': '2', 'AC Ajaccio': '2', 'Évian Thonon Gaillard FC': '2', 'Dijon FCO': '2', 'Stade de Reims': '2', 'SC Bastia': '2', 'ES Troyes AC': '2', 'En Avant de Guingamp': '2', 'FC Metz': '2', 'Angers SCO': '2', 'GFC Ajaccio': '2', 'FC Bayern Munich': '2', 'Hamburger SV': '2', 'Bayer 04 Leverkusen': '2', 'Borussia Dortmund': '2', 'FC Schalke 04': '2', 'Hannover 96': '2', 'VfL Wolfsburg': '2', '1. FC Köln': '2', 'Eintracht Frankfurt': '2', 'Hertha BSC Berlin': '2', 'DSC Arminia Bielefeld': '2', 'SV Werder Bremen': '2', 'FC Energie Cottbus': '2', 'TSG 1899 Hoffenheim': '2', 'Borussia Mönchengladbach': '2', 'VfB Stuttgart': '2', 'Karlsruher SC': '2', 'VfL Bochum': '2', 'SC Freiburg': '2', '1. FC Nürnberg': '2', '1. FSV Mainz 05': '2', '1. FC Kaiserslautern': '2', 'FC St. Pauli': '2', 'FC Augsburg': '2', 'Fortuna Düsseldorf': '2', 'SpVgg Greuther Fürth': '2', 'Eintracht Braunschweig': '2', 'SC Paderborn 07': '2', 'FC Ingolstadt 04': '2', 'SV Darmstadt 98': '2', 'Atalanta': '2', 'Siena': '2', 'Cagliari': '2', 'Lazio': '2', 'Catania': '2', 'Genoa': '2', 'Chievo Verona': '2', 'Reggio Calabria': '2', 'Fiorentina': '2', 'Juventus': '2', 'Milan': '2', 'Bologna': '2', 'Roma': '2', 'Napoli': '2', 'Sampdoria': '2', 'Inter': '2', 'Torino': '2', 'Lecce': '2', 'Udinese': '2', 'Palermo': '2', 'Bari': '2', 'Livorno': '2', 'Parma': '2', 'Cesena': '2', 'Brescia': '2', 'Novara': '2', 'Pescara': '2', 'Hellas Verona': '2', 'Sassuolo': '2', 'Empoli': '2', 'Frosinone': '2', 'Carpi': '2', 'Vitesse': '2', 'FC Groningen': '2', 'Roda JC Kerkrade': '2', 'FC Twente': '2', 'Willem II': '2', 'Ajax': '2', 'N.E.C.': '2', 'De Graafschap': '2', 'FC Utrecht': '2', 'PSV': '2', 'Heracles Almelo': '2', 'Feyenoord': '2', 'Sparta Rotterdam': '2', 'ADO Den Haag': '2', 'FC Volendam': '2', 'SC Heerenveen': '2', 'AZ': '2', 'NAC Breda': '2', 'RKC Waalwijk': '2', 'VVV-Venlo': '2', 'Excelsior': '2', 'PEC Zwolle': '2', 'SC Cambuur': '2', 'Go Ahead Eagles': '2', 'FC Dordrecht': '2', 'Wisła Kraków': '2', 'Polonia Bytom': '2', 'Ruch Chorzów': '2', 'Legia Warszawa': '2', 'P. Warszawa': '2', 'Śląsk Wrocław': '2', 'Lechia Gdańsk': '2', 'Widzew Łódź': '2', 'Odra Wodzisław': '2', 'Lech Poznań': '2', 'GKS Bełchatów': '2', 'Arka Gdynia': '2', 'Jagiellonia Białystok': '2', 'Piast Gliwice': '2', 'Cracovia': '2', 'Korona Kielce': '2', 'Zagłębie Lubin': '2', 'Podbeskidzie Bielsko-Biała': '2', 'Pogoń Szczecin': '2', 'Zawisza Bydgoszcz': '2', 'Górnik Łęczna': '2', 'Termalica Bruk-Bet Nieciecza': '2', 'FC Porto': '2', 'CF Os Belenenses': '2', 'Sporting CP': '2', 'Trofense': '2', 'Vitória Guimarães': '2', 'Vitória Setúbal': '2', 'FC Paços de Ferreira': '2', 'SC Braga': '2', 'Amadora': '2', 'Académica de Coimbra': '2', 'Rio Ave FC': '2', 'SL Benfica': '2', 'Leixões SC': '2', 'CD Nacional': '2', 'Naval 1° de Maio': '2', 'CS Marítimo': '2', 'União de Leiria, SAD': '2', 'S.C. Olhanense': '2', 'Portimonense': '2', 'SC Beira Mar': '2', 'Feirense': '2', 'Gil Vicente FC': '2', 'Moreirense FC': '2', 'Estoril Praia': '2', 'FC Arouca': '2', 'FC Penafiel': '2', 'Boavista FC': '2', 'Uniao da Madeira': '2', 'Tondela': '2', 'Falkirk': '2', 'Rangers': '2', 'Heart of Midlothian': '2', 'Motherwell': '2', 'Kilmarnock': '2', 'Hibernian': '2', 'Aberdeen': '2', 'Inverness Caledonian Thistle': '2', 'Celtic': '2', 'St. Mirren': '2', 'Hamilton Academical FC': '2', 'Dundee United': '2', 'St. Johnstone FC': '2', 'Dunfermline Athletic': '2', 'Dundee FC': '2', 'Ross County FC': '2', 'Partick Thistle F.C.': '2', 'Valencia CF': '2', 'RCD Mallorca': '2', 'CA Osasuna': '2', 'Villarreal CF': '2', 'RC Deportivo de La Coruña': '2', 'Real Madrid CF': '2', 'CD Numancia': '2', 'FC Barcelona': '2', 'Racing Santander': '2', 'Sevilla FC': '2', 'Real Sporting de Gijón': '2', 'Getafe CF': '2', 'Real Betis Balompié': '2', 'RC Recreativo': '2', 'RCD Espanyol': '2', 'Real Valladolid': '2', 'Athletic Club de Bilbao': '2', 'UD Almería': '2', 'Atlético Madrid': '2', 'Málaga CF': '2', 'Xerez Club Deportivo': '2', 'Real Zaragoza': '2', 'CD Tenerife': '2', 'Hércules Club de Fútbol': '2', 'Levante UD': '2', 'Real Sociedad': '2', 'Granada CF': '2', 'Rayo Vallecano': '2', 'RC Celta de Vigo': '2', 'Elche CF': '2', 'SD Eibar': '2', 'Córdoba CF': '2', 'UD Las Palmas': '2', 'Grasshopper Club Zürich': '2', 'AC Bellinzona': '2', 'BSC Young Boys': '2', 'FC Basel': '2', 'FC Aarau': '2', 'FC Sion': '2', 'FC Luzern': '2', 'FC Vaduz': '2', 'Neuchâtel Xamax': '2', 'FC Zürich': '2', 'FC St. Gallen': '2', 'FC Thun': '2', 'Servette FC': '2', 'FC Lausanne-Sports': '2', 'Lugano': '2'}

In [67]:
#team_names
#get_player_names()

# create and Initialize a dictionary by this list elements as keys and with same value 0
wordFrequency = dict.fromkeys(team_names,0 )

TypeError: unhashable type: 'list'