# Attributes of Winning Teams
## Exploring the Data of the EU Soccer League

The goal of this analysis will be to see if there are common attributes amoung the top performing leagues in the European Soccer League. Data is from a Kaggle post,[European Soccer Database](https://www.kaggle.com/hugomathien/soccer) by Hugomathien.

The process of discovery will be the following
1. Create SQL Queries to gather/organize original data
    * Which teams the players belong too (most recent year)
    * Join the player attributes to those teams (most recent performance scores)
    * Which teams placed top on the league (most recent year)
2. Read the SQL Queries into Pandas for further manipulation
3. Provide exploratory visualization showing the combined attributes of each top-performing team
4. Make a judgement if there are common attributes that matter most to success

## Setting Up Environment

First I want to make sure I have my enviroments set up. I have a work station with three monitors but I am not always there so I want to make sure I can do analysis on the fly on my Chromebook. To do this I have set up a cloud instance with [Amazon SageMaker](https://docs.aws.amazon.com/sagemaker/latest/dg/whatis.html). I started the project on my workstation and then createe my [GitHub Repo](https://github.com/GarrettMarkScott/European_Soccer_Exploring). In the process of doing this I quickly learned that the 300mb database (SQLite) was too large for a simple git push command. This forced me to create a .gitignore file that I placed the database in. I then was able to clone the git repo into my Jupyter Cloud Instance and simply upload the SQLite database into the same directory in my cloud instance. Now I can push/pull from both machines without large file transfers.

I used the below code to check to make sure my environment was working.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3

conn = sqlite3.connect('soccer_data.sqlite')
countries = pd.read_sql_query("SELECT * FROM Country;", conn)
countries

       id         name
0       1      Belgium
1    1729      England
2    4769       France
3    7809      Germany
4   10257        Italy
5   13274  Netherlands
6   15722       Poland
7   17642     Portugal
8   19694     Scotland
9   21518        Spain
10  24558  Switzerland

## Matching Players to Teams

Next was time to create the SQL queries to organize the raw data a little bit so it was easier to work with. I was able to borrow my girlfriends mac and load the SQLite datebase into [DB Browser for SQLite] for quick SQL Queries (since chromebook can't run programs).

I spent quite a bit of time trying to figure out how to merge the players to teams. As seen in the screenshot below there was not a common key between player and team. My assumption is that this is due to players switching various teams over their career.

![Table Screenshot](https://i.imgur.com/KCpqgS5.jpg)

I checked the *player_fifa_api_id* but that had 11,060 DISTINCT rows. I was able to create the query below that used the Match table data to see which players were associated with each match. Due to there being substitutions throughout the match, it is assumed that these 11 players are the starting roster for each team during the 2007-2008 season (May-August). 

This turned out to be a pretty big challege because I did not relize DB Browser for SQLite seemingly does not have a formal Date type but rather stores date types as a *Timestring* format. If anyone has any information regarding this and how to deal with it in the best/cleanest way I have made a [Stack Overflow Post](https://stackoverflow.com/questions/56202599/converting-timestrings-to-datetime-db-browser)

In [12]:
#Matches from most recent season and the starting players (in ID format)
matches = pd.read_sql_query('''SELECT t.team_long_name, m.home_player_1, m.home_player_2, m.home_player_3,m.home_player_4, m.home_player_5,m.home_player_6, m.home_player_7, m.home_player_8, m.home_player_9, m.home_player_10, m.home_player_11, m.date 
                                 FROM Team t 
                                 JOIN Match m ON t.team_api_id = m.home_team_api_id 
                                WHERE DATE(m.date) BETWEEN "2015-05-01" and "2016-05-25" 
                                ORDER BY t.team_long_name;''', conn)
matches

,team_long_name,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,date
0,1. FC Köln,212815.0,36395.0,36934.0,264221.0,307210.0,36086.0,167589.0,127945.0,459493.0,166449.0,196366.0,2015-05-10 00:00:00
1,1. FC Köln,212815.0,36395.0,36934.0,264221.0,22824.0,450976.0,36086.0,127945.0,459493.0,196366.0,166449.0,2015-05-23 00:00:00
2,1. FC Köln,212815.0,127945.0,231753.0,303800.0,307210.0,166449.0,36086.0,167589.0,459493.0,177941.0,71605.0,2015-10-31 00:00:00
3,1. FC Köln,212815.0,127945.0,36934.0,303800.0,307210.0,166449.0,36086.0,167589.0,260470.0,177941.0,71605.0,2015-11-21 00:00:00
4,1. FC Köln,212815.0,127945.0,36934.0,303800.0,307210.0,238438.0,36086.0,167589.0,260470.0,177941.0,71605.0,2015-12-05 00:00:00
5,1. FC Köln,212815.0,212377.0,231753.0,36934.0,303800.0,307210.0,450976.0,36086.0,22824.0,127945.0,238438.0,2015-12-19 00:00:00
6,1. FC Köln,212815.0,212377.0,36934.0,303800.0,307210.0,167589.0,36086.0,127945.0,166449.0,260470.0,71605.0,2016-01-23 00:00:00
7,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,167589.0,36086.0,260470.0,238438.0,71605.0,2015-08-22 00:00:00
8,1. FC Köln,212815.0,36934.0,28435.0,303800.0,127945.0,450976.0,307210.0,259439.0,238438.0,260470.0,71605.0,2016-02-13 00:00:00
9,1. FC Köln,212815.0,36934.0,28435.0,303800.0,127945.0,36086.0,307210.0,259439.0,450976.0,71605.0,260470.0,2016-02-26 00:00:00
10,1. FC Köln,212815.0,231753.0,36934.0,303800.0,307210.0,36086.0,127945.0,450976.0,260470.0,259439.0,71605.0,2016-03-05 00:00:00
11,1. FC Köln,212815.0,231753.0,36934.0,28435.0,303800.0,307210.0,127945.0,36086.0,450976.0,260470.0,71605.0,2016-03-19 00:00:00
12,1. FC Köln,212815.0,127945.0,36934.0,303800.0,307210.0,36086.0,167589.0,238438.0,260470.0,450976.0,71605.0,2016-04-10 00:00:00
13,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,36086.0,167589.0,260470.0,71605.0,238438.0,2015-08-29 00:00:00
14,1. FC Köln,212815.0,231753.0,36934.0,28435.0,259439.0,36086.0,307210.0,127945.0,166449.0,450976.0,71605.0,2016-04-23 00:00:00
15,1. FC Köln,212815.0,231753.0,36934.0,28435.0,303800.0,307210.0,127945.0,450976.0,260470.0,238438.0,71605.0,2016-05-07 00:00:00
16,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,36086.0,167589.0,260470.0,71605.0,166449.0,2015-09-19 00:00:00
17,1. FC Köln,212815.0,127945.0,231753.0,303800.0,307210.0,238438.0,36086.0,450976.0,260470.0,166449.0,71605.0,2015-09-25 00:00:00
18,1. FC Köln,212815.0,212377.0,231753.0,303800.0,307210.0,127945.0,450976.0,260470.0,36086.0,166449.0,71605.0,2015-10-18 00:00:00
19,1. FSV Mainz 05,287894.0,94915.0,36000.0,193901.0,171472.0,237542.0,59595.0,287231.0,22313.0,201888.0,20694.0,2015-05-03 00:00:00
20,1. FSV Mainz 05,287894.0,36000.0,36806.0,171472.0,130667.0,130118.0,201888.0,237542.0,59595.0,278863.0,20694.0,2015-05-16 00:00:00
21,1. FSV Mainz 05,287894.0,94915.0,36000.0,193901.0,171472.0,59595.0,95228.0,178804.0,278863.0,287231.0,276760.0,2015-08-15 00:00:00
22,1. FSV Mainz 05,287894.0,147726.0,36000.0,193901.0,49885.0,59595.0,162679.0,180126.0,278863.0,287231.0,459499.0,2015-10-24 00:00:00
23,1. FSV Mainz 05,287894.0,94915.0,147726.0,36000.0,171472.0,49885.0,162679.0,287231.0,278863.0,130118.0,459499.0,2015-11-07 00:00:00
24,1. FSV Mainz 05,287894.0,94915.0,193901.0,459000.0,171472.0,59595.0,162679.0,287231.0,278863.0,130118.0,459499.0,2015-11-28 00:00:00
25,1. FSV Mainz 05,287894.0,94915.0,36000.0,193901.0,171472.0,59595.0,162679.0,130118.0,278863.0,287231.0,459499.0,2015-12-11 00:00:00
26,1. FSV Mainz 05,287894.0,94915.0,147726.0,193901.0,426873.0,59595.0,162679.0,178804.0,278863.0,287231.0,459499.0,2016-01-29 00:00:00
27,1. FSV Mainz 05,287894.0,191080.0,147726.0,193901.0,426873.0,59595.0,162679.0,178804.0,278863.0,287231.0,291425.0,2016-02-12 00:00:00
28,1. FSV Mainz 05,287894.0,191080.0,147726.0,36000.0,426873.0,59595.0,95228.0,130118.0,278863.0,287231.0,291425.0,2016-02-28 00:00:00
29,1. FSV Mainz 05,287894.0,191080.0,147726.0,459000.0,426873.0,59595.0,95228.0,130118.0,278863.0,287231.0,291425.0,2016-03-06 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3611,Zagłębie Lubin,206641.0,208315.0,118822.0,72479.0,163618.0,116874.0,69485.0,545056.0,68802.0,543298.0,25255.0,2015-10-24 00:00:00
3612,Zagłębie Lubin,206641.0,69018.0,72479.0,118822.0,163618.0,545056.0,68762.0,116874.0,239253.0,68802.0,25255.0,2015-11-06 00:00:00
3613,Zagłębie Lubin,232143.0,69018.0,118822.0,545060.0,163618.0,68802.0,69485.0,545056.0,116874.0,543298.0,25255.0,2015-12-01 00:00:00
3614,Zagłębie Lubin,232143.0,69018.0,72479.0,545060.0,163618.0,116874.0,68762.0,239253.0,197560.0,543298.0,NaN,2015-12-04 00:00:00
3615,Zagłębie Lubin,206641.0,69018.0,72479.0,68762.0,163618.0,69485.0,467316.0,197560.0,69818.0,68802.0,25255.0,2015-07-25 00:00:00
3616,Zagłębie Lubin,232143.0,208315.0,118822.0,72479.0,163618.0,197560.0,68762.0,545056.0,68802.0,25255.0,543298.0,2015-12-18 00:00:00
3617,Zagłębie Lubin,232143.0,69018.0,208315.0,118822.0,163618.0,545056.0,197560.0,287341.0,239253.0,68802.0,543298.0,2016-02-21 00:00:00
3618,Zagłębie Lubin,232143.0,69018.0,72479.0,118822.0,163618.0,545056.0,69485.0,116874.0,287341.0,68802.0,543298.0,2016-03-01 00:00:00
3619,Zagłębie Lubin,232143.0,69018.0,118822.0,72479.0,163618.0,545056.0,69485.0,68802.0,287341.0,197560.0,543298.0,2016-03-13 00:00:00
3620,Zagłębie Lubin,232143.0,69018.0,118822.0,72479.0,163618.0,69485.0,68762.0,116874.0,287341.0,68802.0,25255.0,2016-04-03 00:00:00
3621,Zagłębie Lubin,206641.0,69018.0,72479.0,545060.0,163618.0,239253.0,68762.0,116874.0,69818.0,68802.0,25255.0,2015-08-14 00:00:00
3622,Zagłębie Lubin,206641.0,69018.0,72479.0,118822.0,163618.0,68762.0,545056.0,116874.0,239253.0,68802.0,25255.0,2015-08-29 00:00:00
3623,Zagłębie Lubin,206641.0,69018.0,72479.0,118822.0,163618.0,68762.0,545056.0,116874.0,239253.0,68802.0,543298.0,2015-09-18 00:00:00
3624,Évian Thonon Gaillard FC,181619.0,179522.0,46708.0,74169.0,610533.0,185000.0,26333.0,400962.0,317062.0,187669.0,210466.0,2015-05-09 00:00:00
3625,Évian Thonon Gaillard FC,181619.0,179891.0,71603.0,46708.0,35121.0,185000.0,317062.0,288783.0,92263.0,210466.0,400962.0,2015-05-16 00:00:00
3626,Śląsk Wrocław,43313.0,522276.0,13437.0,13554.0,77778.0,43317.0,179818.0,172896.0,22831.0,69428.0,69256.0,2015-07-19 00:00:00
3627,Śląsk Wrocław,43313.0,522276.0,13437.0,172896.0,13554.0,181227.0,22831.0,179818.0,309890.0,69256.0,93453.0,2015-09-25 00:00:00
3628,Śląsk Wrocław,43313.0,522276.0,13437.0,13554.0,77778.0,172896.0,43317.0,179818.0,309890.0,69256.0,93453.0,2015-10-16 00:00:00
3629,Śląsk Wrocław,43313.0,522276.0,13437.0,13554.0,77778.0,179818.0,43317.0,172896.0,22831.0,69256.0,72458.0,2015-10-31 00:00:00
3630,Śląsk Wrocław,43313.0,13437.0,172896.0,13554.0,77778.0,181227.0,22831.0,522276.0,179818.0,429914.0,69256.0,2015-11-28 00:00:00
3631,Śląsk Wrocław,463957.0,522276.0,13437.0,43317.0,77778.0,69428.0,172896.0,181227.0,429914.0,179818.0,93453.0,2015-12-11 00:00:00
3632,Śląsk Wrocław,43313.0,522276.0,13437.0,436553.0,77778.0,172896.0,181227.0,429914.0,196288.0,167491.0,93453.0,2016-02-12 00:00:00
3633,Śląsk Wrocław,43313.0,69428.0,13437.0,436553.0,77778.0,181227.0,22831.0,176704.0,196288.0,167491.0,93453.0,2016-02-26 00:00:00
3634,Śląsk Wrocław,43313.0,43317.0,13554.0,NaN,436553.0,181227.0,172896.0,176704.0,196288.0,69256.0,93453.0,2016-03-05 00:00:00
3635,Śląsk Wrocław,618737.0,13554.0,13437.0,436553.0,522276.0,176704.0,181227.0,172896.0,22831.0,69256.0,643982.0,2016-03-19 00:00:00
3636,Śląsk Wrocław,43313.0,522276.0,13437.0,43317.0,77778.0,172896.0,181227.0,179818.0,72458.0,176704.0,93453.0,2015-08-02 00:00:00
3637,Śląsk Wrocław,618737.0,13554.0,13437.0,436553.0,77778.0,176704.0,172896.0,181227.0,429914.0,196288.0,643982.0,2016-04-09 00:00:00
3638,Śląsk Wrocław,43313.0,522276.0,13437.0,43317.0,77778.0,179818.0,181227.0,172896.0,69256.0,176704.0,93453.0,2015-08-09 00:00:00
3639,Śląsk Wrocław,43313.0,13554.0,13437.0,43317.0,77778.0,172896.0,181227.0,179818.0,309890.0,176704.0,93453.0,2015-08-22 00:00:00
3640,Śląsk Wrocław,43313.0,429914.0,13437.0,43317.0,13554.0,172896.0,309890.0,179818.0,22831.0,72458.0,69256.0,2015-09-12 00:00:00

The next step of my process is to collect all the player ids for each team and store them as a list or dictonary. Then we will have a list of all the players that are considered "starters" for each team. Following that we can begin investigating their attributes!